---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Tags";

const allPosts = await Astro.glob("../blog/*.md");

const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout title={title}>
  <div class="flex flex-col items-start justify-start divide-y divide-gray-200 dark:divide-gray-700 md:mt-24 md:flex-row md:items-center md:justify-center md:space-x-6 md:divide-y-0">
    <div class="space-x-2 pb-8 pt-6 md:space-y-5">
      <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:border-r-2 md:px-6 md:text-6xl md:leading-14">{title}</h1>
    </div>
    <div class="flex max-w-lg flex-wrap">
      {
        uniqueTags.map((tag) => (
          <div class="mb-2 mr-5 mt-2">
            <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href=`/tags/${tag}`>{tag}</a>
            <a class="-ml-2 text-sm font-semibold uppercase text-gray-600 dark:text-gray-300" aria-label="View posts tagged next-js" href=`/tags/${tag}`> ({allPosts.filter(post => post.frontmatter.tags?.includes(tag)).length})</a>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
