---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

const title = "About Me";
const identity = {
  name: "Francisco",
  country: "Colombia",
  occupation: "Tech Lead & Sr. Software Developer",
  hobbies: ["photography", "coffee", "trekking", "workout"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Laravel"];
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />

    <h1>{title}</h1>
    <h2>... and my new Astro site!</h2>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.name}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
  </body>
  <Footer />
</html>
