---
import data from "../data/site.json";

import ProfileHeader from "../components/ProfileHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={data.siteTitle} description={data.siteDescription} isLinks>
  <div class="m-auto lg:max-w-[470px] px-10 py-10">
    <section class="flex flex-col items-center space-x-2">
      <ProfileHeader />
    </section>
    <section
      class="flex flex-col items-center justify-center gap-4 mt-8 border-none text-center item-links"
    >
      {
        data.links.map((link) => (
          <a
            class="flex flex-col items-center w-full gap-y-8 links-button"
            href={link.href}
            target="_blank"
          >
            <div class="flex flex-col cursor-pointer justify-center w-full p-4 text-sm text-center text-white transition-all duration-500 bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl hover:bg-secondary hover:bg-opacity-20 hover:scale-105">
              <button>
                <span class="font-semibold">{link.title}</span>{" "}
                {link.description}
              </button>
            </div>
          </a>
        ))
      }
    </section>
  </div>
</BaseLayout>
