---
import { type WorkExperience } from "../types/WorkExperience";

const { startDate, endDate, urlCompany, company, job, jobActivities } =
  Astro.props as WorkExperience;

// Feb 2021
---

<div
  class="pl-4 flex flex-col place-items-start border-l border-b border-gray-300 dark:border-gray-700"
>
  <span
    class="relative inline-block py-1 px-2 mt-4 ml-[-40px] rounded border border-gray-700 hover:border-accent bg-day dark:bg-night text-xs font-medium"
  >
    {startDate} - {endDate ?? "Current"}
  </span>
  <div class="flex flex-col place-content-between py-4">
    <div
      class="relative font-bold whitespace-pre flex flex-row place-items-center"
    >
      <svg
        viewBox="0 0 24 24"
        fill="currentColor"
        style="width: 24px; height: 24px;"
        role="presentation"
        class="group-hover:animate-spin-slow text-gray-800 dark:text-gray-200 mr-1"
      >
        <path
          d="M20,6C20.58,6 21.05,6.2 21.42,6.59C21.8,7 22,7.45 22,8V19C22,19.55 21.8,20 21.42,20.41C21.05,20.8 20.58,21 20,21H4C3.42,21 2.95,20.8 2.58,20.41C2.2,20 2,19.55 2,19V8C2,7.45 2.2,7 2.58,6.59C2.95,6.2 3.42,6 4,6H8V4C8,3.42 8.2,2.95 8.58,2.58C8.95,2.2 9.42,2 10,2H14C14.58,2 15.05,2.2 15.42,2.58C15.8,2.95 16,3.42 16,4V6H20M4,8V19H20V8H4M14,6V4H10V6H14Z"
          fill="currentColor"
        >
        </path>
      </svg>
      <a
        href={urlCompany}
        target="_blank"
        rel="noreferrer nofollow"
        class="text-2xl">{company}</a
      >
    </div>
    <span class="mx-4 font-bold text-sm text-gray-700 dark:text-gray-300">
      › {job}
    </span>
    <div class="mt-4">
      <ul class="block text-base space-y-2">
        {
          jobActivities &&
            jobActivities.map((activity) => (
              <li class="font-light font-sans">{activity}</li>
            ))
        }
      </ul>
    </div>
  </div>
</div>
