---
import PageHeader from "../../components/PageHeader.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const snippets = await Astro.glob("../../pages/snippets/*.md");

const title = "Snippets";
const description = "Snippets";
---

<BaseLayout title={title} description={description}>
  <PageHeader title={title} description="Snippets for u <3." />
  <ul>
    {
      snippets.map((snippet) => (
        <li>
          <a href={snippet.url}>{snippet.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
