---
import "../styles/global.css";

import "@fontsource-variable/onest";

import { ClientRouter } from "astro:transitions";
import Background from "../components/Background.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  articleDate?: string;
  lang?: string;
  isLinks?: boolean;
}

const {
  title,
  description,
  image,
  articleDate,
  lang = "en",
  isLinks,
} = Astro.props;
---

<html lang={lang} class="dark">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      articleDate={articleDate}
    />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <script
      is:inline
      async
      src="https://us.umami.is/script.js"
      data-website-id="f2869995-c81f-476f-85d8-ef8516b023d6"></script>
    <ClientRouter />
  </head>
  <!-- #1A1B26 -->
  <body class="w-full">
    <!-- dark:bg-gray-950 -->
    <Background>
      <section
        class=`${!isLinks ? "main-section" : "links-main-section"} dark:text-white mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0`
      >
        {!isLinks && <Header />}
        <main
          class=`${!isLinks ? "mb-auto" : ""} divide-y divide-gray-200 dark:divide-gray-700`
        >
          <slot />
        </main>
        {!isLinks && <Footer />}
      </section>
    </Background>
  </body>
</html>
